* {
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

body {
    margin: 0;
    background: #f4f4ee;
}

.screen {
    padding: 20px;
    min-height: 100vh;
}

.screen.active {
    display:block;
}

input, textarea, select {
    width:100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    background: #2f6b4f;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 16px;
}

.link {
    text-align: center;
    margin-top: 15px;
    color: #2f6b4f;
}

.app {
    width: 360px;
    min-height: 100vh;
    background:#fff;
}